html, body {
	height: 100%;
}
body{
	background-image: url("img/fondobody.jpg");
}
.opciones {
	text-transform: uppercase;
	font-family: Baqacents;
	font-size:16px;
}
#botonesOpEmpresa button{
	font-family: Baqacents;
	font-size:18px;
}

.tablas tr{
	font-family:TinDog;
	font-size:17px;
}
.botones{
	font-family:Baqacents;
	font-size: 17px;
		text-transform:uppercase;
}
#area{
	padding:30px 60px;
}
#footer{
	font-family: Gill;
	font-size:20px;
	text-align: left;
}
#fondo-footer{
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -60px;
	margin:0px;
	background-image: url("img/footer.png");
}
#tabla{
	margin:0px;
}
#logo{
	margin:0px;
	width:55px;
	float:right;
	float:top;
}

#barra{
		font-family:Gill;
		font-size:18px;
		margin:0px;
}
#admin{
	
		bottom:40px;
}
iframe{
	margin-top: 10px;
  margin-bottom: 5px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;

  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}