
      .form-signin {
		 font-family: 'Gill';
		text-align: center;
        max-width: 300px;
        padding: 50px 15px ;
        margin: 50px  auto;
        background-color: #CED8F6;
        border: 0px;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
		  font-family: 'Gill';
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
		  font-family: 'Gill';
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
	#boton{
		font-family: 'Gill';
		text-transform: uppercase;
		font-size: 20px;
		margin: 30px 0 auto;
	}