@font-face {
    font-family: 'Baqacents';
    font-style: normal;
    font-weight: normal;
    src: url("fuentes/Baqacents.ttf") format("truetype");
}
@font-face {
    font-family: 'TinDog';
    font-style: normal;
    font-weight: normal;
    src: url("fuentes/TinDog.ttf") format("truetype");
}
@font-face {
    font-family: 'Gill';
    font-style: normal;
    font-weight: normal;
    src: url("fuentes/gill.ttf") format("truetype");
}

