<span style='color: #000'>215 frames</span>	<span style='color: #900'>13,056 KB</span>	<span style='color: #090'>2,456.69 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />